<a href="https://colab.research.google.com/github/bossham/Automation/blob/main/230903_Compare_ExcelSheets(%EC%A3%BC%EB%A7%90)(%EC%B0%90%EC%B5%9C%EC%A2%85).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

❗ **사용 방법**
1. 왼쪽에 파일 클릭 -> 오른쪽 마우스 클릭(업로드)
- 링크 파일 업로드(영문)
- 3번 파일 업로드(한글)
2. 2번 셀의 file1_path, file2_path, df_new의 sheet_name 변경
- 왼쪽에 업로드한 파일 오른쪽 마우스 클릭(경로복사) -> 붙여넣기 후 제목 외 삭제
- sheet_name은 .xlsx 제외한 한글명만 복붙
3. 제일 마지막 셀의 excel_path = "인구 (명)_updated.xlsx"  # 이름 변경
- 본인 3번 파일명으로 이름 변경

실행 방법: 런타임 -> 모두 실행 -> 왼쪽 파일에서 새로고침 -> 업데이트된 파일 다운로드 -> 런타임 다시 시작 후 사용 방법 1번부터 다른 파일 진행

In [ ]:
import pandas as pd
import openpyxl
from IPython.core.display import display, HTML
from openpyxl.styles import PatternFill

In [ ]:
# 파일 경로 설정
file1_path = 'Imports of goods and services (% of GDP).xls'
file2_path = '재화 및 용역 수입 (%, GDP 대비).xlsx'

# 엑셀 파일 불러오기
df_old = pd.read_excel(file1_path, sheet_name='Data', dtype=str)
df_new = pd.read_excel(file2_path, sheet_name='재화 및 용역 수입 (%, GDP 대비)', dtype=str)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df_old.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-07-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,Aruba,ABW,Imports of goods and services (% of GDP),NE.IMP.GNFS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.34036453000205,84.60014011208966,72.9753016591252,70.41546526867629,71.26137308039748,72.96063553905819,72.10913731430158,64.92777981843504,68.25140767042213,NaN
4,Africa Eastern and Southern,AFE,Imports of goods and services (% of GDP),NE.IMP.GNFS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.751472579757696,32.513387834276294,30.21370262977081,27.248678060659554,26.242349368260488,28.699466728504703,27.000821176827728,23.855002708316103,25.84662637650909,28.74919179763511

In [ ]:
df_new.head()

,국가코드3자리\n*[Country] Sheet 참조,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.45039785200373,74.92661492193268,76.27657838317585,74.81634251639618,86.43635475412813,NaN,NaN,NaN,NaN,NaN
1,AFG,7.024793366231815,8.097166298414983,9.349593305902575,16.863910334021387,18.055555385802478,21.41280348425264,18.571428537414963,14.209827038547907,15.210356426933098,...,58.350046825502176,55.07254555387484,42.19922847470395,44.94347834551659,44.1939480697298,39.142397437554365,49.757774903610375,45.77387714404156,48.8016150277632,49.02497728811768
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.51562639845877,51.22655143216674,55.40868389084399,42.94996785427942,42.16296196622979,39.739432524101325,39.38000879208381,42.21153252834049,36.14288110801146,32.67696088297748
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.78820068167622,56.43714441967392,53.75869561760527,53.02454351132213,56.7491781199186,51.98686782766612,53.48055179982264,47.224797560415986,44.520189637457754,45.580111161083636
4,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.41405536546252,69.64565532418271,73.80862649618656,79.03289118201596,81.6310987510199,85.31346036828326,85.22885424179734,89.02284619460545,96.02390908825801,101.43979838497441

## 데이터 양식 전처리

In [ ]:
# 2번째 행을 열 이름으로 설정하고, 불필요한 행 삭제
new_columns = df_old.iloc[2]
df_old = df_old[3:]  # 3번째 행부터의 데이터 선택
df_old.columns = new_columns  # 2번째 행을 열 이름으로 설정
df_old.reset_index(drop=True, inplace=True)  # 인덱스 재설정

In [ ]:
# 삭제할 열 이름 리스트
columns_to_delete = ['Country Name', 'Indicator Name', 'Indicator Code']
# 열 삭제
df_old.drop(columns=columns_to_delete, inplace=True)

<ipython-input-6-4b3cc86d35a9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_old.drop(columns=columns_to_delete, inplace=True)

In [ ]:
# 첫 번째 열 이름 변경
df_old.columns.values[0] = '국가코드3자리'
df_new.columns.values[0] = '국가코드3자리'

In [ ]:
df_old.keys()

Index(['국가코드3자리', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object', name=2)

In [ ]:
df_new.keys()

Index(['국가코드3자리', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [ ]:
# 기준이 될 년도 범위
years = range(1960, 2023)

# df_new의 열에 맞추어 열 추가
for year in years:
    if str(year) not in df_new.columns:
        df_new[str(year)] = None

# 열 순서 재정렬
df_new = df_new[['국가코드3자리'] + [str(year) for year in years]]

In [ ]:
# 열 이름을 문자열로 변환
df_old.columns = df_old.columns.astype(str)
df_new.columns = df_new.columns.astype(str)

# '국가코드3자리' 열을 제외한 나머지 열의 데이터 타입을 df_old와 동일하게 설정
columns_to_convert = df_old.columns[1:].tolist()
df_new[columns_to_convert] = df_new[columns_to_convert].astype(df_old[columns_to_convert].dtypes.to_dict())

In [ ]:
# 두 파일의 열이 동일한지 확인
print('df_old: ', df_old.shape)
print('df_old의 columns: ', df_old.columns)
print('\n','df_new: ', df_new.shape)
print('df_new의 columns: ', df_new.columns)

df_old:  (266, 64)
df_old의 columns:  Index(['국가코드3자리', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object', name=2)

 df_new:  (198, 64)
df_new의 columns:  Index(['국가코드3자리', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object')

## 데이터 비교

### 누락된 국가 조회

In [ ]:
country_dropped = set(df_old['국가코드3자리']) - set(df_new['국가코드3자리'])

# 결과 출력
print('삭제된 아이템 개수:', len(country_dropped))
print('\n''삭제된 아이템 (알파벳 순):')
for item in sorted(country_dropped):
    print(item)

삭제된 아이템 개수: 68

삭제된 아이템 (알파벳 순):
AFE
AFW
AND
ARB
CEB
CHI
CSS
CUW
CYM
EAP
EAR
EAS
ECA
ECS
EMU
EUU
FCS
GIB
HIC
HPC
IBD
IBT
IDA
IDB
IDX
IMN
INX
LAC
LCN
LDC
LIC
LIE
LMC
LMY
LTE
MAF
MCO
MEA
MHL
MIC
MNA
NAC
NRU
OED
OSS
PRE
PRK
PSS
PST
SAS
SMR
SSA
SSF
SST
STP
SXM
TCA
TEA
TEC
TLA
TMN
TSA
TSS
TUV
UMC
VGB
WLD
XKX

### 사라진 국가 조회 후 삭제

In [ ]:
# df_old에는 없는 행이 df_new에 있는 경우를 찾아서 삭제
rows_to_drop = df_new[~df_new["국가코드3자리"].isin(df_old["국가코드3자리"])]

# rows_to_drop에 해당하는 행 삭제
if not rows_to_drop.empty:
    df_new = df_new[~df_new["국가코드3자리"].isin(rows_to_drop["국가코드3자리"])]

### 두 엑셀 데이터 비교

1. df_old에는 있지만 df_new에는 없는 '국가코드3자리'와 그에 해당하는 값이 들어있는 행을 df_new에 추가
2. 1을 만족하는 df_new를 '국가코드3자리'열의 알파벳순으로 정렬
3. df_old와 df_new의 같은 위치에서 df_old가 null이고 df_new에 값이 있으면 df_new 값을 수정하지 않고 보존
4. df_old와 df_new의 같은 위치에서 df_new가 null이고 df_old에 값이 있으면 df_new 값을 df_old 값으로 수정
5. df_old와 df_new의 같은 위치에 있는 데이터 값이 같으면 df_new 값 수정하지 않고 보존
6. df_old와 df_new의 같은 위치에 있는 데이터 값이 다르면 df_new 값을 df_old 값으로 수정

In [ ]:
'''색 입혀지지 않은 업데이트만 진행된 df_new'''
# # 1. df_old에는 있지만 df_new에는 없는 행 찾기
# missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# # 2. df_new에 빠진 행 추가 및 정렬
# df_new_updated = pd.concat([df_new, missing_rows]).sort_values(by='국가코드3자리')

# # 3~6. 조건을 만족하는 데이터프레임 생성
# new_values = []
# for idx, row_new in df_new_updated.iterrows():
#     row_old = df_old[df_old["국가코드3자리"] == row_new["국가코드3자리"]].iloc[0]
#     new_row = []
#     for col in df_new_updated.columns:
#         if pd.isnull(row_old[col]) and pd.notnull(row_new[col]):
#             new_row.append(row_new[col])  # Condition 3
#         elif pd.isnull(row_new[col]) and pd.notnull(row_old[col]):
#             new_row.append(row_old[col])  # Condition 4
#         elif row_old[col] == row_new[col]:
#             new_row.append(row_new[col])  # Condition 5
#         else:
#             new_row.append(row_old[col])  # Condition 6
#     new_values.append(new_row)

# # 새로운 데이터프레임 생성
# df_result = pd.DataFrame(new_values, columns=df_new_updated.columns)

'색 입혀지지 않은 업데이트만 진행된 df_new'

- 조건 1에 부합하는 부분에 lightgray 배경 색 입히기
- 조건 4와 6에 부합하는 부분에 lightblue 배경 색 입히기
- 배경 색 입혀진 데이터프레임 엑셀로 추출

In [ ]:
'''엑셀 추출 전 style 적용'''
# # 1. df_old에는 있지만 df_new에는 없는 행 찾기
# missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# # df_new에 빠진 행 추가
# df_new_updated = pd.concat([df_new, missing_rows], ignore_index=True)

# # 2. df_new_updated 정렬
# df_new_sorted = df_new_updated.sort_values(by='국가코드3자리')

# # 3~6. 스타일 적용을 위한 함수 정의
# def apply_styles(row):
#     styles = [""] * len(row)
#     country_code = row["국가코드3자리"]

#     if country_code in missing_rows["국가코드3자리"].values:
#         styles = ["background-color: lightgray"] * len(row)
#     else:
#         old_row = df_old[df_old["국가코드3자리"] == country_code].iloc[0]
#         for idx, col in enumerate(df_new_sorted.columns[1:]):  # Exclude '국가코드3자리' column
#             old_val = old_row[col]
#             new_val = row[col]

#             if pd.isnull(old_val):
#                 if pd.notnull(new_val):
#                     row[col] = new_val  # Condition 3: df_old가 null이고 df_new에 값이 있으면 df_new 값 보존
#             elif pd.isnull(new_val):
#                 row[col] = old_val  # Condition 4: df_new가 null이고 df_old에 값이 있으면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"
#             elif old_val != new_val:
#                 row[col] = old_val  # Condition 6: df_old와 df_new의 값이 다르면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"

#     return styles

# # 스타일 적용
# styled_df_new_sorted = df_new_sorted.style.apply(apply_styles, axis=1)

# display(styled_df_new_sorted)

'엑셀 추출 전 style 적용'

## 엑셀로 추출

In [ ]:
# 1. df_old에는 있지만 df_new에는 없는 행 찾기
missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# df_new에 빠진 행 추가
df_new_updated = pd.concat([df_new, missing_rows], ignore_index=True)

# 2. df_new_updated 정렬
df_new_sorted = df_new_updated.sort_values(by='국가코드3자리')

# 3~6. 스타일 적용을 위한 함수 정의
def apply_styles(row):
    styles = [""] * len(row)
    country_code = row["국가코드3자리"]

    if country_code in missing_rows["국가코드3자리"].values:
        styles = ["background-color: lightgray"] * len(row)
    else:
        old_row = df_old[df_old["국가코드3자리"] == country_code].iloc[0]
        for idx, col in enumerate(df_new_sorted.columns[1:]):  # Exclude '국가코드3자리' column
            old_val = old_row[col]
            new_val = row[col]

            if pd.isnull(old_val):
                if pd.notnull(new_val):
                    row[col] = new_val  # Condition 3: df_old가 null이고 df_new에 값이 있으면 df_new 값 보존
            elif pd.isnull(new_val):
                row[col] = old_val  # Condition 4: df_new가 null이고 df_old에 값이 있으면 df_old 값으로 수정
                styles[idx + 1] = "background-color: lightblue"
            elif old_val != new_val:
                row[col] = old_val  # Condition 6: df_old와 df_new의 값이 다르면 df_old 값으로 수정
                styles[idx + 1] = "background-color: lightblue"

    return styles

# 스타일 적용
styled_df_new_sorted = df_new_sorted.style.apply(apply_styles, axis=1)

# 엑셀로 추출 (스타일이 적용된 상태로 저장됨)
excel_path = "재화 및 용역 수입 (%, GDP 대비)_updated.xlsx"  # 이름 변경
styled_df_new_sorted.to_excel(excel_path, engine='openpyxl', index=False)
print(f"Styled data with style exported to {excel_path}")

Styled data with style exported to 재화 및 용역 수입 (%, GDP 대비)_updated.xlsx

---
**END**
---

In [ ]:
'''df_old 열 이름에 소수점 붙어 나오는 경우'''
# # 열 이름 리스트
# column_names = ['Country Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
#                 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0,
#                 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
#                 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0,
#                 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0]

# # 첫 번째 열 이름 변경
# column_names[0] = '국가코드3자리'

# # 나머지 열 이름 숫자에서 .0 제거
# column_names = [str(int(col)) if isinstance(col, float) else col for col in column_names]
# df_old.columns = column_names

'df_old 열 이름에 소수점 붙어 나오는 경우'

In [ ]:
'''display로 출력 후 부동소수점 숫자 표현 이슈 제거 전'''
# # 1. df_old에는 있지만 df_new에는 없는 행 찾기
# missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# # df_new에 빠진 행 추가
# df_new_updated = pd.concat([df_new, missing_rows], ignore_index=True)

# # 2. df_old와 df_new_updated 정렬
# df_new_sorted = df_new_updated.sort_values(by='국가코드3자리')

# # 3~6. 스타일 적용을 위한 함수 정의
# def apply_styles(row):
#     styles = [""] * len(row)
#     country_code = row["국가코드3자리"]

#     if country_code in missing_rows["국가코드3자리"].values:
#         styles = ["background-color: yellow"] * len(row)
#     else:
#         old_row = df_old[df_old["국가코드3자리"] == country_code].iloc[0]
#         for idx, col in enumerate(df_new_sorted.columns[1:]):  # Exclude '국가코드3자리' column
#             old_val = old_row[col]
#             new_val = row[col]

#             if pd.isnull(old_val):
#                 if pd.notnull(new_val):
#                     row[col] = new_val  # Condition 3: df_old가 null이고 df_new에 값이 있으면 df_new 값 보존
#             elif pd.isnull(new_val):
#                 row[col] = old_val  # Condition 4: df_new가 null이고 df_old에 값이 있으면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightgreen"
#             elif old_val != new_val:
#                 row[col] = old_val  # Condition 6: df_old와 df_new의 값이 다르면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightgreen"

#     return styles

# # 스타일 적용
# styled_df_new_sorted = df_new_sorted.style.apply(apply_styles, axis=1)

# # HTML 형식으로 출력
# display(HTML(styled_df_new_sorted.render()))

'display로 출력 후 부동소수점 숫자 표현 이슈 제거 전'

In [ ]:
'''엑셀 추출 전 style 적용'''
# # 1. df_old에는 있지만 df_new에는 없는 행 찾기
# missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# # df_new에 빠진 행 추가
# df_new_updated = pd.concat([df_new, missing_rows], ignore_index=True)

# # 2. df_new_updated 정렬
# df_new_sorted = df_new_updated.sort_values(by='국가코드3자리')

# # 3~6. 스타일 적용을 위한 함수 정의
# def apply_styles(row):
#     styles = [""] * len(row)
#     country_code = row["국가코드3자리"]

#     if country_code in missing_rows["국가코드3자리"].values:
#         styles = ["background-color: yellow"] * len(row)
#     else:
#         old_row = df_old[df_old["국가코드3자리"] == country_code].iloc[0]
#         for idx, col in enumerate(df_new_sorted.columns[1:]):  # Exclude '국가코드3자리' column
#             old_val = old_row[col]
#             new_val = row[col]

#             if pd.isnull(old_val):
#                 if pd.notnull(new_val):
#                     row[col] = new_val  # Condition 3: df_old가 null이고 df_new에 값이 있으면 df_new 값 보존
#             elif pd.isnull(new_val):
#                 row[col] = old_val  # Condition 4: df_new가 null이고 df_old에 값이 있으면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"
#             elif old_val != new_val:
#                 row[col] = old_val  # Condition 6: df_old와 df_new의 값이 다르면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"

#     return styles

# # 스타일 적용
# styled_df_new_sorted = df_new_sorted.style.apply(apply_styles, axis=1)

# display(styled_df_new_sorted)

'엑셀 추출 전 style 적용'

In [ ]:
# import pandas as pd
# from openpyxl.styles import PatternFill
# import openpyxl

# # 1. df_old에는 있지만 df_new에는 없는 행 찾기
# missing_rows = df_old[~df_old["국가코드3자리"].isin(df_new["국가코드3자리"])]

# # df_new에 빠진 행 추가
# df_new_updated = pd.concat([df_new, missing_rows], ignore_index=True)

# # 2. df_new_updated 정렬
# df_new_sorted = df_new_updated.sort_values(by='국가코드3자리')

# # 3~6. 스타일 적용을 위한 함수 정의
# def apply_styles(row):
#     styles = [""] * len(row)
#     country_code = row["국가코드3자리"]

#     if country_code in missing_rows["국가코드3자리"].values:
#         styles = ["background-color: yellow"] * len(row)
#     else:
#         old_row = df_old[df_old["국가코드3자리"] == country_code].iloc[0]
#         for idx, col in enumerate(df_new_sorted.columns[1:]):  # Exclude '국가코드3자리' column
#             old_val = old_row[col]
#             new_val = row[col]

#             if pd.isnull(old_val):
#                 if pd.notnull(new_val):
#                     row[col] = new_val  # Condition 3: df_old가 null이고 df_new에 값이 있으면 df_new 값 보존
#             elif pd.isnull(new_val):
#                 row[col] = old_val  # Condition 4: df_new가 null이고 df_old에 값이 있으면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"
#             elif old_val != new_val:
#                 row[col] = old_val  # Condition 6: df_old와 df_new의 값이 다르면 df_old 값으로 수정
#                 styles[idx + 1] = "background-color: lightblue"

#     return styles

# # 스타일 적용
# styled_df_new_sorted = df_new_sorted.style.apply(apply_styles, axis=1)

# # 엑셀로 추출
# excel_path = "styled_data.xlsx"
# styled_df_new_sorted.to_excel(excel_path, engine='openpyxl', index=False)

# # 저장한 엑셀 파일 열기
# wb = openpyxl.load_workbook(excel_path)
# ws = wb.active

# # 스타일 적용
# yellow_fill = PatternFill(start_color="FFFF00", end_color="FFFF00", fill_type="solid")
# lightblue_fill = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")

# for row in ws.iter_rows(min_row=2, values_only=True):
#     for col_idx, cell in enumerate(row, start=1):
#         if isinstance(cell, str) and 'background-color' in cell:
#             color = cell.split("background-color: ")[1]
#             fill = lightblue_fill if color == "lightblue" else yellow_fill
#             ws.cell(row=row_idx, column=col_idx).fill = fill
#             ws.cell(row=row_idx, column=col_idx).value = cell.split("'>")[1].split('</')[0]

# # 저장
# styled_excel_path = "styled_data_with_style.xlsx"
# wb.save(styled_excel_path)
# print(f"Styled data with style exported to {styled_excel_path}")